.hex {
    position: relative;
    visibility:hidden;
    outline:1px solid transparent;
    transition: all 0.5s;
    backface-visibility: hidden;
    will-change: transform;
    transition: all 0.5s;
}
.hex::after{
    content:'';
    display:block;
    padding-bottom: 86.602%;
}
.hexIn{
    position: absolute;
    width:96%;
    padding-bottom: 110.851%;
    margin: 2%;
    overflow: hidden;
    visibility: hidden;
    outline:1px solid transparent;
    -webkit-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
    -ms-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
    transform: rotate3d(0,0,1,-60deg) skewY(30deg);
    transition: all 0.5s;
}
.hexIn * {
    position: absolute;
    visibility: visible;
    outline:1px solid transparent;
}
.hexLink {
    display:block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    overflow: hidden;
    -webkit-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
    -ms-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
    transform: skewY(-30deg) rotate3d(0,0,1,60deg);
}

.hex img {
    left: -100%;
    right: -100%;
    width: auto;
    height: 100%;
    margin: 0 auto;
    background-color: #fff;
}

.hex h1 {
    width: 100%;
    padding: 0 5% 10% 5%;
    box-sizing: border-box;
    font-weight: 300;
    opacity: 0;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.title {
    color: #fff;
    text-align: center;
    font-size: 1.5em;
    z-index: 1;
    text-transform: uppercase;
}

.img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.img:before, .img:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    opacity: 0;
    transition: opacity 0.5s;
}
.img:before {
    background: rgba(102, 102, 102, 0.3)
}
.img:after {
    background: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.5), transparent);
}

.hexLink:hover h1, .hexLink:focus h1 {
    opacity:1;
    transition: 0.8s;
}

.hexIn:hover .img:before,
.hexIn:hover .img:after,
.hexIn:hover .hexLink {
    opacity: 1;
}

@media (min-width:1201px) {
    .hex {
        width: 20%;
    }
    .hex:nth-child(9n+6){
        margin-left:10%;
    }
}

@media (max-width: 1200px) and (min-width:901px) {
    .hex {
        width: 25%;
    }
    .hex:nth-child(7n+5){
        margin-left:12.5%;
    }
}

@media (max-width: 900px) and (min-width:601px) {
    .hex {
        width: 33.333%;
    }
    .hex:nth-child(5n+4){
        margin-left:16.666%;
    }
}

@media (max-width: 600px) {
    .hex {
        width: 50%;
    }
    .hex:nth-child(3n+3){
        margin-left:25%;
    }
}

@media (max-width: 400px) {
}