.container {
    display: flex;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.hexInfo {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.hexGrid {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    overflow: hidden;
    font-family: sans-serif;
    list-style-type: none;
    padding: 0;
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.hex {
    position: relative;
    visibility:hidden;
    outline:1px solid transparent;
    transition: all 0.5s;
    backface-visibility: hidden;
    will-change: transform;
    transition: all 0.5s;
}
.hex::after{
    content:'';
    display:block;
    padding-bottom: 86.602%;
}

.hexIn{
    position: absolute;
    width:96%;
    padding-bottom: 110.851%;
    margin: 2%;
    overflow: hidden;
    visibility: hidden;
    outline:1px solid transparent;
    -webkit-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
    -ms-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
    transform: rotate3d(0,0,1,-60deg) skewY(30deg);
    transition: all 0.5s;
}

.hexIn * {
    position: absolute;
    visibility: visible;
    outline:1px solid transparent;
}

.hexLink {
    display:block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    overflow: hidden;
    cursor: pointer;
    -webkit-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
    -ms-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
    transform: skewY(-30deg) rotate3d(0,0,1,60deg);
}

.hex img {
    left: -100%;
    right: -100%;
    width: auto;
    height: 100%;
    margin: 0 auto;
    background-color: #fff;
}

.hex .title {
    width: 100%;
    padding: 0 5% 10% 5%;
    box-sizing: border-box;
    font-weight: 300;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    flex-direction: column;
}

.title {
    color: #fff;
    text-align: center;
    font-size: 2em;
    z-index: 1;
    text-transform: uppercase;
}

.summary {
    text-align: justify;
}

.img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.img:before, .img:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    opacity: 0;
    transition: opacity 0.5s;
}
.img:before {
    background: rgba(102, 102, 102, 0.3)
}
.img:after {
    background: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.5), transparent);
}

@media (min-width:601px) {
    .hex {
        width: 90%;
    }
}

@media (max-width: 600px) {
    .container {
        flex-direction: column-reverse;
    }
    .hexInfo {
        width: 100%;
    }
    .hexGrid {
        width: 100%;
    }
    .hex {
        width: 100%;
        height: 100%;
    }
}